<form {{action 'addCar' on='submit'}}>
  <fieldset>
    <legend>Add a car</legend>

    <label for="car-name">
      Name
    </label>
    {{input type='text' value=carName id='car-name'}}
  </fieldset>

  <button type="submit">Save</button>
</form>

{{#each model as |car|}}
  <p>{{car.name}}</p>

  <ul>
    {{#each car.drivers as |driver|}}
      <li>{{driver.name}} (id: {{driver.id}})</li>
    {{else}}
      <li>No drivers</li>
    {{/each}}
  </ul>

  <form {{action 'addDriver' car on='submit'}}>
    <label for="driver-name">
      Driver name
    </label>

    {{input type='text' value=driverName id='driver-name'}}

    <button type="submit">Save</button>
  </form>
{{/each}}
